@charset "utf-8";
/* CSS Document */

#main_text {
	width: 600px;
	position: absolute;
	left: -420px;
}

#about_us_image {
    width: 125px;
    position: absolute;
    left: -310px;
    top: -100px;
}

#how_we_work_image {
    width: 125px;
    position: absolute;
    left: -150px;
    top: -90px;
}

#main {
    appearance: push-button;
    font-size: 24px;
    font-style: oblique;
    position: absolute;
    top: 160px;
    left: 420px;
}

#container body {
    background-image: url('/images/BG3.jpg');
    background-size: 100%;

}

#howwework_form {
    position: absolute;
    border: 5px solid gray;
    padding: 10px;
    background: #2d2d6b;
    width: 300px;
    height: 500px;
    display: inline-block;
}

#aboutus_form {
    position: absolute;
    border: 5px solid gray;
    padding: 10px;
    background: #2d2d6b;
    width: 300px;
    height: 205px;
}

#closehowwework, #closeaboutus {
    border-top: 1px solid #fdcf17;
    background: #fdcf17;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdcf17), to(#fdcf17));
    background: -webkit-linear-gradient(top, #fdcf17, #fdcf17);
    background: -moz-linear-gradient(top, #fdcf17, #fdcf17);
    background: -ms-linear-gradient(top, #fdcf17, #fdcf17);
    background: -o-linear-gradient(top, #fdcf17, #fdcf17);
    padding: 5px 10px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #2d2d6b;
    font-size: 14px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}
#closehowwework:hover, #closeaboutus:hover {
    border-top-color: #fdcf17;
    background: #fdcf17;
    color: #2d2d6b;
}
#closehowwework:active, #closeaboutus:active {
    border-top-color: #fdcf17;
    background: #fdcf17;
}