@charset "utf-8";
/* CSS Document */

#main_text {
	width: 600px;
	position: absolute;
	left: -420px;
}

#about_us_image {
    width: 125px;
    position: absolute;
    left: -310px;
    top: -100px;
}

#how_we_work_image {
    width: 125px;
    position: absolute;
    left: -150px;
    top: -90px;
}

#main {
    appearance: push-button;
    font-size: 24px;
    font-style: oblique;
    position: absolute;
    top: 160px;
    left: 420px;
}

#container body {
    background-image: url('/images/BG3.jpg');
    background-size: 100%;

}

#howwework_form {
    position: absolute;
    border: 5px solid gray;
    padding: 10px;
    background: black;
    width: 300px;
    height: 470px;
    display: inline-block;
}

#aboutus_form {
    position: absolute;
    border: 5px solid gray;
    padding: 10px;
    background: black;
    width: 300px;
    height: 180px;
}

