@charset "utf-8";
/* CSS Document */

/* temp
#container {
	margin: 0;
	padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: #FFFF00;
    padding-top: 60px;
    margin: 0px;

}

a:link{
    color:#FFFF00;
    text-decoration:none;
    background-color: transparent;
}

a:visited{
    color:#FFFF00;
    text-decoration:none;
    background-color: transparent;
}

a:hover{
    color:purple;
    text-decoration:none;
    background-color: transparent;
}

a:focus{
    color:purple;
    text-decoration:none;
    background-color: transparent;
}

a:active{
    color:purple;
    text-decoration:none;
    background-color: transparent;
}

*/

@font-face {
    font-family: Georgia, Serif;
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 22px;
    font-family: Georgia, Serif;
    color: #828282;
    background: url(http://preview.chocotemplates.com/digy/html/default/css/images/body.png) repeat 0 0;
    min-width: 100%;
}

a { color: #72ae13; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; background: none; }
a img { border: 0; }
a.more { background: url(http://preview.chocotemplates.com/digy/html/default/css/images/green-arr.png) no-repeat 0 5px; padding-left: 11px; color: #72ae13; text-decoration: underline; font-size: 12px; }
a.more:hover { text-decoration: none; color: black;  }

/*font-family: 'Coda', cursive;*/
/*font-family: 'Jura', sans-serif;*/

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: Georgia, Serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 980px; margin: 0 auto; }

.gold-btn {
    -moz-box-shadow:inset 0px 1px 0px -6px #f9eca0;
    -webkit-box-shadow:inset 0px 1px 0px -6px #f9eca0;
    box-shadow:inset 0px 1px 0px -6px #f9eca0;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
    background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
    background-color:#f0c911;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #e65f44;
    color: #7A0109;
    font-family: Georgia, Serif;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 24px;
    text-decoration: none;
    text-shadow:1px 1px 0px #ded17c;
}

.gold-btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
    background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
    background-color:#f2ab1e;
    text-decoration: none;
 }

.gold-btn:active {
    position:relative;
    top:1px;
}

.popupform {
    position:fixed;
    top: 25%;
    left: 22%;
    width: 30%;
    border: 1px solid #000;
    border-radius: 10px;
    border-right: none;
    background-image: url("/images/BG_Black.jpg");
    margin: -1px 0;
    color: #FFFF00;
    font-family: Georgia, Serif;
    font-size: 12px;
    padding: 10px;
}

.popupform .popupform_header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid grey;
    color: #FFFF00;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    height: 15%;
}

.popupform .popupform_content {
    width: 95%;
    height: 80%;
    padding: 10px;
    overflow: auto;
}

.popupform .popupform_content table {
    width: 100%;
    padding: 3px;
}

/* #Media Queries
================================================== */

/* ipad portrait */
@media only screen and ( min-width: 768px) and ( max-width: 980px ) {
    body { min-width: 768px; }
    .shell { max-width: 748px; }

    .popupform {
        top: 20%;
        left: 2%;
        width: 80%;
    }
}


@media only screen and ( max-width: 767px) {
    body { min-width: 320px; }
    .shell { max-width: 320px; }

    .popupform {
        top: 20%;
        left: 2%;
        width: 80%;
    }
}

@media only screen and ( max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi)  {

}