@charset "utf-8";
/* CSS Document */

#container {
	margin: 0;
	padding: 0px;
}

body {
    background-image: url('/images/BG3.jpg');
    background-size: 150%;
    color: #FDD017;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 60px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-top: 60px;
    margin: 0px;
}
