<%= stylesheet_link_tag "custom/styles" %>
<%= stylesheet_link_tag "custom/landing" %>

<div id="container">

<%= render :partial => 'layouts/header' %>

<body>

<div id="main" style="display: inline;">
    <img src="images/TEXT9.png" id="main_text">
    <img src="images/ABOUTUS2.png" id="about_us_image">
    <img src="images/HOWWEWORK2.png" id="how_we_work_image">
  <table>
      <tr>
        <td><img src="images/guvfront.jpg" width="300" height="220" onmouseover="this.src='images/guvback.jpg'" onmouseout="this.src='images/guvfront.jpg'"></td>
        <td><img src="images/housepartyfront.jpg" width="300" height="220" onmouseover="this.src='images/housepartyback.jpg'" onmouseout="this.src='images/housepartyfront.jpg'"></td>
        <td><img src="images/kingstfront.jpg" width="300" height="220" onmouseover="this.src='images/kingstback.jpg'" onmouseout="this.src='images/kingstfront.jpg'"></td>
      </tr>
      <tr>
        <td><img src="images/maizonfront.jpg" width="300" height="220" onmouseover="this.src='images/maizonback.jpg'" onmouseout="this.src='images/maizonfront.jpg'"></td>
        <td><img src="images/muzikfront.jpg" width="300" height="220" onmouseover="this.src='images/muzikback.jpg'" onmouseout="this.src='images/muzikfront.jpg'"></td>
        <td><img src="images/pravdafront.jpg" width="300" height="220" onmouseover="this.src='images/pravdaback.jpg'" onmouseout="this.src='images/pravdafront.jpg'"></td>
      </tr>
    </table>

  </div>

<form id="howwework_form" style="display:none">
  <body>
  <input id="closehowwework" type="button" value="Close">
  <div id="howwework_text">
    <h2><u>How we work</u></h2>
    So you and your friends are going out this weekend.... SICK!... but WHERE to?
    <br>
    <br>
    If you're like me and my friends, it would go something like this...
    <br>
    <i>"Well Ata always likes going to his favorite spot... Faisal and Amir like going to upscale places.. Adool, Musty and Rabie dont mind too much as long as we're all together."</i>
    <br>
    <br>
    Akh!! Everyone has a preference!... but dont worry... Plantourage is here to make your lives much easier!
    <br>
    <br>
    Plantourage is social group event planning app. Once you create a plan, you can invite your friends, discuss, add a few possible venues and bid on where you want to go. Everyone gets 10 points to bid on any of the venues in the list.
    <br>
    <br>
    Start a plan and let the bidding begin!
  </div>
  </body>
</form>

<form id="aboutus_form" style="display:none">
  <body>
  <input id="closeaboutus" type="button" value="Close">
  <div id="aboutus_text">
    <h2><u>About us</u></h2>
    This site was developed by Saif Al-Naib with design help from his good friend Faisal Khalil.
    <br>
    <br>
    We launched the site fairly recently and are working on making it better so if you like it, have feedback or just plain want to give us a shout out, email us at saif_t@hotmail.com.
  </div>
  </body>
</form>

</body>

</div>