<%= stylesheet_link_tag "custom/styles" %>
<%= stylesheet_link_tag "custom/landing" %>

<div id="container">

<%= render :partial => 'layouts/header' %>

<body>

  <div id="main" style="display: inline;">
    <img src="images/TEXT.png" width="600" height="450" id="main_text">
    <table>
      <tr>
        <td><img src="images/guvfront.jpg" width="300" height="220" onmouseover="this.src='images/guvback.jpg'" onmouseout="this.src='images/guvfront.jpg'"></td>
        <td><img src="images/housepartyfront.jpg" width="300" height="220" onmouseover="this.src='images/housepartyback.jpg'" onmouseout="this.src='images/housepartyfront.jpg'"></td>
        <td><img src="images/kingstfront.jpg" width="300" height="220" onmouseover="this.src='images/kingstback.jpg'" onmouseout="this.src='images/kingstfront.jpg'"></td>
      </tr>
      <tr>
        <td><img src="images/maizonfront.jpg" width="300" height="220" onmouseover="this.src='images/maizonback.jpg'" onmouseout="this.src='images/maizonfront.jpg'"></td>
        <td><img src="images/muzikfront.jpg" width="300" height="220" onmouseover="this.src='images/muzikback.jpg'" onmouseout="this.src='images/muzikfront.jpg'"></td>
        <td><img src="images/pravdafront.jpg" width="300" height="220" onmouseover="this.src='images/pravdaback.jpg'" onmouseout="this.src='images/pravdafront.jpg'"></td>
      </tr>
    </table>

  </div>

</body>

</div>