<%= stylesheet_link_tag "custom/styles" %>
<%= stylesheet_link_tag "custom/unauthorized" %>

<div id="container">

  <%= render :partial => 'layouts/header' %>

  <body>

  <div id="unuthorized">
    <table>
      <tr>
        <td align="left">Sorry, you are unauthorized to view this page.</td>
      </tr>
    </table>

  </div>

  </body>

</div>