// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#plan_details {
  padding: 15px;
  background-color: #e6e6fa;
}

#plan_info {
  width: 100%;
  border-bottom: 1px solid #7A0109;
}

.plan_info_header {
  font-size: 20px;
  font-family: 'Gabriela', serif;
  text-shadow: none;
  color: black;
  width: 100%;
}

.plan_info_value {
  font-size: 40px;
  font-family: 'Gabriela', serif;
  text-shadow: none;
  color: #7A0109;
  display: inline;
}

#points_left_info {
  width: 90%;
  font-size: 20px;
  font-family: 'Gabriela', serif;
  text-shadow: none;
  color: black;
  padding: 10px;
  text-align: center;
}

#totalpoints {
  font-size: 30px;
  font-family: 'Gabriela', serif;
  text-shadow: none;
  color: #7A0109;
}

#toppick, #mypick {
  font-size: 30px;
  font-family: 'Gabriela', serif;
  text-shadow: none;
  color: #7A0109;
  text-decoration: underline;
}

#toppick:hover, #mypick:hover {
  color: #ffffff;
}

#plan_voting_table {
  background-color: #e6e6fa;
  width: 100%;
  font-family: 'Gabriela', serif;
  max-height: 700px;
}

#plan_voting_table thead {
  background-image: url("/images/BG_Black.jpg");
  font-size: 20px;
  color: #FFFF00;
}

.venue_header, .venue_info {
  max-width: 100px;
  min-width: 100px;
}

.venue_link {
  text-decoration: underline;
  color: #FFFF00;
}

.venue_link:hover {
  color: #ffffff;
}

.total_points_header, .sugg_totpointcount {
  max-width: 30px;
  min-width: 30px;
}

.user_header, .sugg_userpointcount {
  max-width: 30px;
  min-width: 30px;
}

.sugg_friend_count {
  max-width: 30px;
  min-width: 30px;
}

.friends_action_header {
  text-align: left;
  padding: 2px;
  max-width: 30px;
}

.friends_header {
  max-width: 30px;
  min-width: 30px;
}

.friends_header, .user_header {
  vertical-align: bottom;
}

.venue_info {
  background-image: url("/images/BG_Black.jpg");
  font-size: 20px;
  text-align: left;
  padding: 5px;
}

.venue_info a {
  color: #FFFF00;
}

.venue_info a:hover {
  color: #f5f5f5;
  text-decoration: none;
  background: none;
}

.venue_info a:visited {
  color: #FFFF00;
}

.venue_image {
  width: 140px;
  height: 70px;
}

.venue_description {
  text-align: left;
  text-indent: 20px;
}

.venue_description a {
  color: #FFFF00;
  font-size: 10px;
  text-decoration: none;
}


.venue_description a:hover {
  color: #f5f5f5;
  background: none;
}

.sugg_totpointcount, .sugg_userpointcount {
  background-image: url("/images/BG_Black.jpg");
  font-size: 17px;
  color: #FFFF00;
  text-align: center;
}

.sugg_user_point, .removepointfrom {
  display: inline;
}

.sugg_friend_count {
  color: #FFFF00;
  font-size: 17px;
  text-align: center;
  background-image: url("/images/BG_Black.jpg");
}

#errPopup_form {
  position: absolute;
  border: 5px solid gray;
  padding: 10px;
  background: black;
  width: 300px;
  height: 100px;
}

#updateplan_form {
  width: 20%;
  height: 20%;
}

.suggvotedusers_form, #planvoters_form, #plannonvoters_form  {
  max-width: 20%;
  max-height: 70%;
}

#mapCanvas_form {
  width: 50%;
  height: 70%;
}

#mapCanvas_form .popupform_content {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

#map_canvas {
  width: 95%;
  height: 75%;
  border: 1px solid white;
  margin-top: 0.6em;
}

#show_comments_form {
  width: 50%;
  height: 70%;
}

#show_comments_form .popupform_header {
  height: 23%;
}

#show_comments_form .popupform_content {
  color: #FFFF00;
  max-height: 65%;
}

#show_comments_form .popupform_content table {
  border: 2px solid black;
  background-color: #f5f5f5;
  color: #7A0109;
}

#new_comment {
  width: 40%;
}

.addpointto {
  -moz-box-shadow:inset 0px 0px 0px 0px #f9eca0;
  -webkit-box-shadow:inset 0px 0px 0px 0px #f9eca0;
  box-shadow:inset 0px 0px 0px 0px #f9eca0;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
  background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
  background-color:#f0c911;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  display:inline-block;
  color:#300204;
  font-family:arial;
  font-size:28px;
  font-weight:bold;
  padding:8px 10px;
  text-decoration:none;
  text-shadow:0px 0px 0px #ded17c;
}

.removepointfrom {
  -moz-box-shadow:inset 0px 0px 0px 0px #f9eca0;
  -webkit-box-shadow:inset 0px 0px 0px 0px #f9eca0;
  box-shadow:inset 0px 0px 0px 0px #f9eca0;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
  background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
  background-color:#f0c911;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  display:inline-block;
  color:#300204;
  font-family:arial;
  font-size:28px;
  font-weight:bold;
  padding:8px 12px;
  text-decoration:none;
  text-shadow:0px 0px 0px #ded17c;
}

.addpointto:hover, .removepointfrom:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
  background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
  background-color:#f2ab1e;
  text-decoration:none;
 }

.addpointto:active, .removepointfrom:active {
    position:relative;
    top:1px;
  }

.mobile-break {
  display: none;
}

/* #Media Queries
================================================== */

/* ipad portrait */
@media only screen and ( min-width: 768px) and ( max-width: 980px ) {
  .plan_info_header {
    display: none;
  }

  .plan_info_value {
    font-size: 20px;
    float: left;
  }

  #points_left_info {
    font-size: 12px;
  }

  #points_left_info a {
    font-size: 20px;
  }

  #totalpoints {
    font-size: 20px;
  }

  #plan_voting_table thead {
    font-size: 12px;
  }

  .venue_header, .venue_info {
    max-width: 50px;
    min-width: 50px;
  }

  .total_points_header, .sugg_totpointcount {
    max-width: 10px;
    min-width: 10px;
  }

  .user_header, .sugg_userpointcount {
    max-width: 20px;
    min-width: 20px;
  }

  .sugg_friend_count {
    max-width: 10px;
    min-width: 10px;
  }

  .friends_action_header {
    max-width: 10px;
  }

  .friends_header {
    max-width: 15px;
    min-width: 15px;
  }

  .friends_header img {
    display: none;
  }

  .venue_info {
    font-size: 12px;
  }

  .venue_image, .venue_description {
    display: none;
  }

  .sugg_totpointcount, .sugg_userpointcount {
    font-size: 10px;
  }

  .sugg_friend_count {
    font-size: 10px;
  }

  #changeplan, #showcomments, #addfriend, #addvenue, #submitvenue, #closevenue, #add_comment, #closecomments, #delete_comment, #updateplan, #closeupdateplan, #closeError, #selectvenue, #closemapcanvas {
    font-size: 10px;
  }

  .addpointto, .removepointfrom {
    font-size: 10px;
    padding: 1px 8px;
  }

  #mapCanvas_form {
    width: 90%;
  }

  #mapCanvas_form .popupform_content {
    height: 80%;
  }

  #show_comments_form {
    width: 90%;
  }

  #show_comments_form .popupform_content {
    height: 50%;
  }

  #new_comment {
    width: 100%;
    height: 45%;
  }

}


@media only screen and ( max-width: 767px) {
  .plan_info_header {
    display: none;
  }

  .plan_info_value {
    font-size: 20px;
  }

  #points_left_info {
    font-size: 12px;
  }

  #points_left_info a {
    font-size: 20px;
  }

  .mobile-break {
    display: inline;
  }

  #totalpoints {
    font-size: 20px;
  }

  #plan_voting_table thead {
    font-size: 12px;
  }

  .venue_header, .venue_info {
    max-width: 100px;
    min-width: 100px;
  }

  .sugg_friend_count {
    max-width: 10px;
    min-width: 10px;
  }

  .friends_action_header {
    max-width: 10px;
  }

  .friends_header {
    max-width: 15px;
    min-width: 15px;
  }

  .friends_header img {
    display: none;
  }

  .venue_info {
    font-size: 12px;
  }

  .venue_image, .venue_description {
    display: none;
  }

  .sugg_totpointcount, .sugg_userpointcount {
    font-size: 10px;
  }

  .sugg_friend_count {
    font-size: 10px;
  }

  #changeplan, #showcomments, #addfriend, #addvenue, #submitvenue, #closevenue, #add_comment, #closecomments, #delete_comment, #updateplan, #closeupdateplan, #closeError, #selectvenue, #closemapcanvas, #planvoters, #plannonvoters, .suggcount {
    font-size: 10px;
  }

  .addpointto, .removepointfrom {
    font-size: 10px;
    padding: 1px 8px;
  }

  #updateplan_form {
    width: 70%;
    height: 35%;
  }

  .suggvotedusers_form, #planvoters_form, #plannonvoters_form  {
    max-width: 70%;
    max-height: 80%;
  }

  #mapCanvas_form {
    width: 90%;
    height: 100%;
    bottom: 3%;
    left: 2%;
    top: 3%;
  }

  #mapCanvas_form .popupform_header {
    height: 18%;
    padding: 2px;
  }

  #searchTextField {
    width: 85%;
  }

  #mapCanvas_form .popupform_content {
    height: 70%;
  }

  #show_comments_form {
    width: 90%;
    height: 100%;
    bottom: 3%;
    left: 2%;
    top: 3%;
  }

  #show_comments_form .popupform_header {
    height: 18%;
    padding: 2px;
  }

  #show_comments_form .popupform_content {
    height: 55%;
  }

  #new_comment {
    width: 100%;
    height: 45%;
  }

}

@media only screen and ( max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi)  {

  .plan_info_header {
    display: none;
  }

  .plan_info_value {
    font-size: 20px;
    float: left;
  }

  #points_left_info {
    font-size: 12px;
  }

  #points_left_info a {
    font-size: 20px;
  }

  #totalpoints {
    font-size: 20px;
  }

  #plan_voting_table thead {
    font-size: 12px;
  }

  .venue_header, .venue_info {
    max-width: 20px;
    min-width: 20px;
  }

  .total_points_header, .sugg_totpointcount {
    max-width: 10px;
    min-width: 10px;
  }

  .user_header, .sugg_userpointcount {
    max-width: 20px;
    min-width: 20px;
  }

  .sugg_friend_count {
    max-width: 10px;
    min-width: 10px;
  }

  .friends_action_header {
    max-width: 10px;
  }

  .friends_header {
    max-width: 15px;
    min-width: 15px;
  }

  .friends_header img {
    display: none;
  }

  .venue_info {
    font-size: 12px;
  }

  .venue_image, .venue_description {
    display: none;
  }

  .sugg_totpointcount, .sugg_userpointcount {
    font-size: 10px;
  }

  .sugg_friend_count {
    font-size: 10px;
  }

  #changeplan, #showcomments, #addfriend, #addvenue, #submitvenue, #closevenue, #add_comment, #closecomments, #delete_comment, #updateplan, #closeupdateplan, #closeError, #selectvenue, #closemapcanvas {
    font-size: 10px;
  }

  .addpointto, .removepointfrom {
    font-size: 10px;
    padding: 1px 8px;
  }

  #mapCanvas_form {
    width: 90%;
  }

  #mapCanvas_form .popupform_content {
    height: 80%;
  }

  #show_comments_form {
    width: 90%;
  }

  #show_comments_form .popupform_content {
    height: 50%;
  }

  #new_comment {
    width: 100%;
    height: 45%;
  }

}