// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newplan_form {
  position: absolute;
  border: 5px solid gray;
  padding: 10px;
  background: #E5E4E2;
  width: 600px;
  height: 300px;
  overflow: auto;
}

#plans_list {
  position: absolute;
  margin: 15px;
  top: 100px;
}

#plans_list h2 {
  font-size: 45px;
}

#plans_table {
  background-color: black;
}

#plans_table thead th {
  font-size: 20px;
  border-bottom: 1px solid #E5E4E2;
  padding: 10px;
}

#plans_table td {
  font-size: 17px;
  padding: 15px;
}
