// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#plans_list {
  position: absolute;
  margin: 10px;
}

#newplan_form {
  position: absolute;
  border: 5px solid gray;
  padding: 10px;
  background: #E5E4E2;
  width: 600px;
  height: 300px;
  overflow: auto;
}
