// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#errPopup_form {
  position: absolute;
  border: 5px solid gray;
  padding: 10px;
  background: black;
  width: 300px;
  height: 100px;
}

#newplan_form {
  position: absolute;
  border: 5px solid gray;
  padding: 10px;
  background: black;
  width: 300px;
  height: 200px;
  overflow: auto;
}

#plans_list {
  position: absolute;
  margin: 15px;
  top: 100px;
}

#plans_list h2 {
  font-size: 45px;
  color: #b7b7b7;
}

#plans_table {
  background-color: #b7b7b7;
  width:100%;
  color: purple;
}

#plans_table thead {
  background-color: #2f1d39;
}

#plans_table thead td {
  font-size: 22px;
  padding: 15px;
  border: 1px solid purple;
  color: #FDD017;
}

#plans_table tr td {
  font-size: 20px;
  padding: 15px;
  border: 1px solid purple;
}

#newplan, #submitnewplan, #closenewplan {
  border-top: 1px solid #fdcf17;
  background: #fdcf17;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdcf17), to(#fdcf17));
  background: -webkit-linear-gradient(top, #fdcf17, #fdcf17);
  background: -moz-linear-gradient(top, #fdcf17, #fdcf17);
  background: -ms-linear-gradient(top, #fdcf17, #fdcf17);
  background: -o-linear-gradient(top, #fdcf17, #fdcf17);
  padding: 5px 10px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #2d2d6b;
  font-size: 14px;
  font-family: Georgia, Serif;
  text-decoration: none;
  vertical-align: middle;
}
#newplan:hover, #submitnewplan:hover, #closenewplan:hover {
  border-top-color: #fdcf17;
  background: #fdcf17;
  color: #2d2d6b;
}
#newplan:active, #submitnewplan:active, #closenewplan:active {
  border-top-color: #fdcf17;
  background: #fdcf17;
}