<%= stylesheet_link_tag "custom/footer" %>

<!-- footer -->
<div id="footer">
  <!-- shell -->
  <div class="shell">
    <!-- footer-cols -->
    <div class="footer-cols">
      <div class="col">
        <h2>CONTACT us</h2>

        <p>Email: <a href="mailto:plantourage@gmail.com">plantourage@gmail.com</a></p>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <!-- end of footer-cols -->
    <div class="footer-bottom">
      <div class="footer-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#whoweare">Who we are</a></li>
          <li><a href="/#howitworks">How Plantourage works</a></li>
        </ul>
      </div>
      <p class="copy">Copyright &copy; 2013<span>|</span>By: <a href="#" target="_blank">Saif Al-Naib</a></p>
      <div class="cl">&nbsp;</div>
    </div>
  </div>
  <!-- end of shell -->
</div>
<!-- footer -->
</div>
<!-- end of wrapper -->
</body>


<!--
<footer>
<div id="footer">
  <nav>
    <ul>
      <li><%#= link_to "About",   '#' %></li>
    </ul>
  </nav>
</div>
</footer>

-->